{% extends 'base.html.twig' %} {% block body %}
<h1><em>Paiement accepté !</em></h1>

<p>
    Nous vous remercions pour votre achat et à trés bientôt.
</p>
<cite>Librairie Eyrolles</cite>
<br><br>
<a href="/" class="btn btn-success float-left">
    Revenir à la page d'accueil
    </a> {% endblock %}